<template>
  <div class="q-pa-md">
    <q-table
      flat bordered
      title="Dashboard - Clientes"
      :rows="rows"
      :columns="columns"
      row-key="name"
    >
      <template v-slot:body="props">
        <q-tr :props="props" @click="onRowClick(props.row)">
          <q-td key="name" :props="props">
            {{ props.row.name }}
          </q-td>
          <q-td key="agendado" :props="props">
            <q-badge color="green">
              {{ props.row.agendado }}
            </q-badge>
          </q-td>
          <q-td key="finalizado" :props="props">
            <q-badge color="blue">
              {{ props.row.finalizado }}
            </q-badge>
          </q-td>
          <q-td key="aguardandoPagamento" :props="props">
            <q-badge color="orange">
              {{ props.row.aguardandoPagamento }}
            </q-badge>
          </q-td>
          <q-td key="cancelado" :props="props">
            <q-badge color="red">
              {{ props.row.cancelado }}
            </q-badge>
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
  <div class="q-pa-md">
    <!-- Filtro por nome de cliente -->
    <q-select
      v-model="selectedClient"
      filled
      outlined
      label="Filtrar por Cliente"
      :options="clientOptions"
      emit-value
      map-options
    />

    <!-- Tabela de agendamentos ou mensagem de sem dados -->
    <q-card v-if="showTable || showNoDataMessage">
      <q-table
        v-if="showTable"
        title="Agendamentos"
        :rows="scheduledAppointments"
        :columns="appointmentColumns"
        row-key="schedulingId"
      />
      <q-card-section v-if="showNoDataMessage" class="q-pa-md">
        <q-item class="text-h6 text-center">Não há dados para exibir.</q-item>
      </q-card-section>
    </q-card>
    <q-card v-else>
      <q-card-section class="q-pa-md">
        <q-spinner-hourglass size="50px" color="primary" />
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import { ref, onMounted, watchEffect } from 'vue'
import { useQuasar } from 'quasar'

export default {
  setup() {
    const { notify } = useQuasar()

    // Dados da tabela de agendamentos
    const scheduledAppointments = ref([])
    const appointmentColumns = [
      { name: 'schedulingStatusName', label: 'Status do Agendamento', align: 'left', field: 'schedulingStatusName', sortable: true },
      { name: 'naturalPersonName', label: 'Nome da Pessoa', field: 'naturalPersonName', sortable: true },
      { name: 'naturalPersonPhone', label: 'Telefone da Pessoa', field: 'naturalPersonPhone', sortable: true },
      { name: 'serviceName', label: 'Serviço', field: 'serviceName', sortable: true }
    ]

    // Dados de clientes (legal entities)
    const clients = ref([])
    const clientOptions = ref([])
    const selectedClient = ref(null)
    
    // Variável para controlar a exibição da tabela ou mensagem de sem dados
    const showTable = ref(false)
    const showNoDataMessage = ref(false)

    // Função para buscar o token do localStorage
    const getToken = () => {
      return localStorage.getItem('authToken');
    }

    // Função para buscar clientes (legal entities) na primeira API
    const fetchClients = async () => {
      try {
        const response = await fetch('http://localhost:5123/LegalEntity', {
          headers: {
            'Authorization': `Bearer ${getToken()}`,
            'Content-Type': 'application/json'
          }
        })
        const data = await response.json()
        // Filtrar apenas legalEntityId e name
        clients.value = data.map(client => ({ legalEntityId: client.legalEntityId, name: client.name }))
        clientOptions.value = clients.value.map(client => ({ label: client.name, value: client.name }))
      } catch (error) {
        console.error('Erro ao buscar clientes:', error)
      }
    }

    // Função para buscar agendamentos na segunda API com base no cliente selecionado
    const fetchScheduling = async () => {
      if (!selectedClient.value) return

      // Exibindo o spinner de carregamento enquanto busca os dados
      showTable.value = false
      showNoDataMessage.value = false

      try {
        // Encontrar o legalEntityId correspondente ao nome selecionado
        const selectedEntity = clients.value.find(client => client.name === selectedClient.value)
        if (!selectedEntity) {
          console.error('Cliente não encontrado:', selectedClient.value)
          return
        }

        const response = await fetch(`http://localhost:5123/Scheduling/legalEntity/${selectedEntity.legalEntityId}`, {
          headers: {
            'Authorization': `Bearer ${getToken()}`,
            'Content-Type': 'application/json'
          }
        })
        const data = await response.json()
        
        if (data.length > 0) {
          scheduledAppointments.value = data.map(appointment => ({
            schedulingId: appointment.schedulingId,
            schedulingStatusName: appointment.schedulingStatusName,
            naturalPersonName: appointment.naturalPersonName,
            naturalPersonPhone: appointment.naturalPersonPhone,
            serviceName: appointment.serviceName
          }))
          showTable.value = true
        } else {
          // Mostrar mensagem de sem dados após um tempo de espera
          setTimeout(() => {
            showNoDataMessage.value = true
          }, 5000) // 5000 milissegundos = 5 segundos
        }
      } catch (error) {
        console.error('Erro ao buscar agendamentos:', error)
        // Em caso de erro, também mostramos a mensagem de sem dados
        showNoDataMessage.value = true
      }
    }

    // Carregar clientes ao montar o componente
    onMounted(() => {
      fetchClients()
    })

    // Assim que o cliente selecionado mudar, buscar os agendamentos correspondentes
    watchEffect(() => {
      fetchScheduling()
    })

    // Dados da tabela de clientes
    const rows = ref([])
    const columns = [
      {
        name: 'name',
        required: true,
        label: 'Clientes',
        align: 'left',
        field: row => row.name,
        format: val => `${val}`,
        sortable: true
      },
      { name: 'agendado', label: 'Agendado', field: 'agendado', sortable: true },
      { name: 'finalizado', label: 'Finalizado', field: 'finalizado', sortable: true },
      { name: 'aguardandoPagamento', label: 'Aguardando Pagamento', field: 'aguardandoPagamento', sortable: true },
      { name: 'cancelado', label: 'Cancelado', field: 'cancelado', sortable: true }
    ]

    const fetchLegalEntities = async () => {
      try {
        const response = await fetch('http://localhost:5123/LegalEntity', {
          headers: {
            'Authorization': `Bearer ${getToken()}`,
            'Content-Type': 'application/json'
          }
        })
        const data = await response.json()
        return data
      } catch (error) {
        console.error('Error fetching legal entities:', error)
      }
    }

    const fetchSchedulingForEntity = async (legalEntityId) => {
      try {
        const response = await fetch(`http://localhost:5123/Scheduling/legalEntity/${legalEntityId}`, {
          headers: {
            'Authorization': `Bearer ${getToken()}`,
            'Content-Type': 'application/json'
          }
        })
        const data = await response.json()
        return data
      } catch (error) {
        console.error(`Error fetching scheduling for legalEntityId ${legalEntityId}:`, error)
      }
    }

    const populateTable = async () => {
      const legalEntities = await fetchLegalEntities()
      const rowsData = []

      for (const entity of legalEntities) {
        const schedulings = await fetchSchedulingForEntity(entity.legalEntityId)
        const agendado = schedulings.filter(s => s.schedulingStatusName === 'agendado').length
        const finalizado = schedulings.filter(s => s.schedulingStatusName === 'finalizado').length
        const aguardandoPagamento = schedulings.filter(s => s.schedulingStatusName === 'aguardando pagamento').length
        const cancelado = schedulings.filter(s => s.schedulingStatusName === 'cancelado').length

        rowsData.push({
          name: entity.name,
          agendado,
          finalizado,
          aguardandoPagamento,
          cancelado
        })
      }

      rows.value = rowsData
    }

    onMounted(() => {
      populateTable()
    })

    return {
      rows,
      columns,
      onRowClick: (row) => alert(`${row.name} clicked`),
      scheduledAppointments,
      appointmentColumns,
      clients,
      clientOptions,
      selectedClient,
      fetchScheduling,
      showTable,
      showNoDataMessage
    }
  }
}
</script>

<style scoped>
.primeira {
  display: block;
  justify-content: center;
  align-items: center;
  background: #ebebeb;
  border-radius: 25px;
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

h2 {
  color: #17a2b8;
  padding-top: 10px;
  font-size: 30px;
  text-align: center;
}

.form {
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

label {
  display: block;
  width: 100%;
  margin: 15px auto 0;
}

label span {
  font-size: 14px;
  font-weight: 600;
  color: #17a2b8;
  text-transform: uppercase;
}

input {
  display: flex;
  width: 100%;
  margin-top: 5px;
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(185, 77, 77, 0.4);
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

button {
  display: block;
  margin: 20px auto;
  width: 100%;
  height: 36px;
  border-radius: 30px;
  background-color: #26a69a;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(43, 233, 91);
}

.salvar-senha-label {
  color: rgb(64, 166, 184);
}

@media only screen and (max-width: 767px) {
  .primeira {
    width: 90%;
  }
}
</style>
