<template>
  <q-page class="q-pa-md">
    <div class="q-gutter-md">
      <h1 class="text-h5">Listagem de Clientes</h1>
      <q-card class="q-mt-md">
        <q-card-section>
          <!-- Listagem de entidades legais aqui -->
          <div v-for="(entidade, index) in entidadesLegais" :key="index" class="flex justify-between items-center q-mb-md">
            <q-paragraph class="q-ma-none">{{ entidade.name }}</q-paragraph>
            <div>
              <q-btn @click="editarEntidadeLegal(index)" color="primary" label="Editar" class="q-mr-md" />
              <q-btn @click="removerEntidadeLegal(index)" color="negative" label="Remover" />
            </div>
          </div>
        </q-card-section>
      </q-card>
    </div>
    <!-- Modal de edição da entidade legal -->
    <q-dialog v-model="mostrarModal" persistent class="larger-dialog">
      <q-card>
        <q-card-section>
          <h2 class="text-h6">Editar Estabelecimento</h2>
          <q-input v-model="entidadeLegalEditada.name" label="Nome" />
          <q-input v-model="entidadeLegalEditada.password" label="Senha" type="password" />
          <q-input v-model="entidadeLegalEditada.email" label="E-mail" />
          <q-input v-model="entidadeLegalEditada.phoneNumber" label="Telefone" />
        </q-card-section>
        <q-card-actions align="right">
          <q-btn label="Cancelar" color="negative" @click="fecharModal" />
          <q-btn label="Salvar" color="primary" @click="salvarEntidadeLegal" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';
import axios from 'axios';
import { Notify } from 'quasar';

export default defineComponent({
  name: 'IndexPage',
  data() {
    return {
      entidadesLegais: [],
      mostrarModal: false,
      entidadeLegalEditada: {
        id: null,
        name: '',
        password: '',
        email: '',
        phoneNumber: ''
      },
      entidadeLegalIndexEditada: null
    };
  },
  mounted() {
    this.carregarEntidadesLegais();
  },
  methods: {
    async carregarEntidadesLegais() {
      const authToken = localStorage.getItem('authToken');
      try {
        const response = await axios.get('http://localhost:5123/LegalEntity', {
          headers: {
            'Authorization': `Bearer ${authToken}`,
            'Content-Type': 'application/json'
          }
        });
        this.entidadesLegais = response.data;
      } catch (error) {
        console.error('Erro ao carregar entidades legais:', error);
      }
    },
    editarEntidadeLegal(index) {
      const { legalEntityId, name, email, password, phoneNumber } = this.entidadesLegais[index];
      this.entidadeLegalEditada = {
        id: legalEntityId,
        name,
        email,
        password,
        phoneNumber
      };
      this.entidadeLegalIndexEditada = index;
      this.mostrarModal = true;
    },
    fecharModal() {
      this.mostrarModal = false;
      this.entidadeLegalEditada = {
        id: null,
        name: '',
        password: '',
        email: '',
        phoneNumber: ''
      };
      this.entidadeLegalIndexEditada = null;
    },
    async salvarEntidadeLegal() {
      const authToken = localStorage.getItem('authToken');
      if (this.entidadeLegalIndexEditada !== null) {
        try {
          const entidade = this.entidadeLegalEditada;
          await axios.put(`http://localhost:5123/LegalEntity/${entidade.id}`, entidade, {
            headers: {
              'Authorization': `Bearer ${authToken}`,
              'Content-Type': 'application/json'
            }
          });
          this.entidadesLegais[this.entidadeLegalIndexEditada] = { ...entidade };
          Notify.create({
            type: 'positive',
            message: 'Estabelecimento salvo com sucesso!'
          });
          this.fecharModal();
          setTimeout(() => window.location.reload(), 500); // Recarregar a página após o PUT
        } catch (error) {
          console.error('Erro ao salvar dados:', error);
          Notify.create({
            type: 'negative',
            message: 'Erro ao salvar dados do estabelecimento'
          });
        }
      }
    },
    async removerEntidadeLegal(index) {
      const authToken = localStorage.getItem('authToken');
      const legalEntityId = this.entidadesLegais[index].legalEntityId;
      if (!legalEntityId) {
        console.error('ID da entidade legal não encontrado');
        return;
      }

      try {
        await axios.delete(`http://localhost:5123/LegalEntity/${legalEntityId}`, {
          headers: {
            'Authorization': `Bearer ${authToken}`,
            'Content-Type': 'application/json'
          }
        });
        this.entidadesLegais.splice(index, 1);
        Notify.create({
          type: 'positive',
          message: 'Estabelecimento removido com sucesso'
        });
        setTimeout(() => window.location.reload(), 500); // Recarregar a página após o DELETE
      } catch (error) {
        console.error('Erro ao remover entidade legal:', error);
        Notify.create({
          type: 'negative',
          message: 'Erro ao remover estabelecimento'
        });
      }
    }
  }
});
</script>

<style scoped>
/* Estilos personalizados aqui */
.larger-dialog .q-card {
  max-width: 600px; /* Ajuste conforme necessário */
  border-radius: 0px; /* Ajuste conforme necessário */
}
</style>
