<template q-model="LoginLayout">
  <div class="primeira">
    <form class="form">
      <label>
        <img src="https://i.ibb.co/CzzsksM/logo.png" alt="Logo"
           style="width: 350px; height: auto; margin-top: -35px; margin-bottom: -35px; display: block; margin-left: 31%; margin-right: 20%;"/>
        <q-input
          rounded
          outlined
          v-model="login"
          label="Digite seu Email"
          :rules="[
                    val => /[^@ \t\r\n]+@[^@ \t\r\n]+\.[^@ \t\r\n]+/.test(val) || 'Insira um endereço de email válido',
                    val => val && val.length >= 5 || 'O email deve ter no mínimo 5 caracteres'
                  ]"
        />
      </label>
      <label>
        <span>Senha</span>
        <div>
          <q-input rounded outlined v-model="senha" :type="showPassword  ? 'password' : 'text'" placeholder="Digite sua senha">
              <template v-slot:append>
                <q-icon
                  :name="showPassword ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="showPassword = !showPassword"
                />
            </template>
          </q-input>
        </div>
      </label>

      <q-btn flat color="secondary" label="Entrar" type="button" text-color="white" @click="fazerLogin" :disable="!formularioCompleto"/>
    </form>
  </div>
</template>

<script>
import { ref, computed, onMounted } from 'vue'
import { useRouter } from 'vue-router'
import axios from 'axios'
import { Notify } from 'quasar'

// Configuração global do Axios para incluir o token em todas as requisições
const configureAxios = (token) => {
  axios.defaults.headers.common.Authorization = `Bearer ${token}`
  console.log('Token configurado no Axios:', token)
}

export default {
  setup () {
    const login = ref('')
    const senha = ref('')
    const salvarSenha = ref(false)
    const token = ref(null)
    const router = useRouter()
    const showPassword = ref(true)

    // Verificar se há um token armazenado no localStorage ao iniciar
    onMounted(() => {
      const storedToken = localStorage.getItem('authToken')
      if (storedToken) {
        token.value = storedToken
        configureAxios(token.value)
      }
    })

    const fazerLogin = async () => {
      try {
        const authResponse = await axios.post('http://localhost:5123/Authentication', {
          email: login.value,
          password: senha.value
        })

        console.log('Resposta da API:', authResponse.data)

        if (authResponse.data.token) {
          token.value = authResponse.data.token

          // Armazenar os dados do usuário no localStorage
          localStorage.setItem('authToken', token.value)
          localStorage.setItem('legalEntityId', authResponse.data.id)
          localStorage.setItem('userEmail', authResponse.data.email)
          localStorage.setItem('userRoles', JSON.stringify(authResponse.data.roles))

          // Configurar Axios para incluir o token em todas as requisições
          configureAxios(token.value)

          // Redirecionar para a página protegida
          router.push({ name: 'index' })
        } else {
          Notify.create({
            type: 'negative',
            message: 'Falha na autenticação. Verifique suas credenciais.'
          })
        }
      } catch (error) {
        if (error.response) {
          console.error('Erro de resposta da API:', error.response.data)
          Notify.create({
            type: 'negative',
            message: error.response.data.message || 'Falha na autenticação. Verifique suas credenciais.'
          })
        } else if (error.request) {
          console.error('Erro de requisição:', error.request)
          Notify.create({
            type: 'negative',
            message: 'Não foi possível obter resposta do servidor. Tente novamente mais tarde.'
          })
        } else {
          console.error('Erro:', error.message)
          Notify.create({
            type: 'negative',
            message: error.message
          })
        }
      }
    }

    const formularioCompleto = computed(() => {
      return !!login.value && !!senha.value
    })

    return {
      login,
      senha,
      salvarSenha,
      token,
      formularioCompleto,
      fazerLogin,
      showPassword
    }
  }
}
</script>
<style scoped>
  .primeira {
    display: Block;
    justify-content: center;
    align-items: center;
    background: #ebebeb;
    border-radius: 25px;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
  }

  h2 {
    color: #17a2b8;
    padding-top: 10px;
    font-size: 30px;
    text-align: center;
  }

  .form {
    -webkit-transition:-webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  }

  label {
    display: block;
    width: 100%;
    margin: 15px auto 0;
  }

  label span {
    font-size: 14px;
    font-weight: 600;
    color: #17a2b8;
    text-transform: uppercase;
  }

  input {
    display: flex;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(185, 77, 77, 0.4);
    text-align: center;
    font-family: 'Nunito', sans-serif;
  }

  button {
    display: block;
    margin: 20px auto;
    width: 100%;
    height: 36px;
    border-radius: 30px;
    background-color: #26a69a;
    color: white;
    font-size: 15px;
    cursor: pointer;
  }

  button:hover {
    background-color: rgb(43, 233, 91);
  }

  .salvar-senha-label {
    color: rgb(64, 166, 184);
  }

  @media only screen and (max-width: 767px) {
    .primeira {
      width: 90%;
    }
  }
</style>